<body>
  <main>

    <!-- start of the detailed view section -->
    <section class="detailed-view">
      <div class="details-container">
        <div class="top">
          <div class="cd-timer">
            <div class="minutes">
              <div class="min-text">
                MINUTES
              </div>
              <div class="min-numbers">
              </div>
            </div>
            <div class="seconds">
              <div class="sec-text">
                SECONDS
              </div>
              <div class="sec-numbers">
              </div>
            </div>
          </div>
          <div class="geeks-logo">
            <img class="logo-image" src="https://i.imgur.com/vfmTmji.png" alt="geeks logo">
          </div>
        </div>
        <div class="mid">
          <div class="mid-text">
            <div class="lorem-title">
              Upcoming Event: Coding for Everyone
            </div>
            <div class="lorem-description">
              coding for everyone coding for everyone coding for everyone coding for everyone coding for everyone coding for everyone coding for everyone coding for everyone coding for everyone coding for everyone coding for everyone coding for everyone coding for everyone coding for everyone coding for everyone
            </div>
          </div>
        </div>

        <div class="bot">

          <div class="speaker-div">
            <div class="speaker-image-div">
              <img class="speaker-image" src="https://i.imgur.com/UlD6fc7.png" alt="">
            </div>
            <div class="speaker-text-div">
              <div class="speaker-text">
                SPEAKER
              </div>
              <div class="speaker-name">
                NAME HERE
              </div>
            </div>
          </div>

            <div class="time-div">
                <div class="time-image-div">
                  <img class="time-image" src="https://i.imgur.com/zu7pWQN.png" alt="">
                </div>
                <div class="time-text-div">
                  <div class="duration-text">
                    DURATION
                  </div>
                  <div class="duration-time">
                    1:35PM - 3:20PM
                  </div>
                </div>
              </div>

        </div>
      </div>
    </section>


    <!-- start of the upcoming events section -->
    <section class="upcoming-events">
      <div class="static-upcoming">
        <h1>Upcoming Events</h1>
      </div>
      {{#each result}}
      <div class="hidden start-date">
        {{this.startDate}}
      </div>
      <div class="hidden end-date">
        {{this.endDate}}
      </div>
      <div class="hidden event-id">{{this.id}}</div>
      <div class="hidden speaker">{{this.speaker}}</div>
      <div class="hidden description">{{this.description}}</div>
      <div class="each-event">
        <div class="date-container">
          <div class="date-div">
            <span name="month" class="inline-date nth-month month months">SSS</span>
            <span class="inline-date nth-day day days"></span>
          </div>
        </div>
        <div class="info-div">
          <div class="info-container">
            <h2 class="upcoming-title nth-upcoming-title">{{this.title}}</h2>
            <h2 class="upcoming-first nth-upcoming-first">{{this.hall}}</h2>
            <h2 class="upcoming-second nth-upcoming-second hours-text">{{this.startDate}}</h2>
          </div>
        </div>
      </div>
      {{/each}}
    </section>
  </main>
</body>

<script src="/js/dom_functions.js"></script>
<script src="/js/home.js"></script>
